html {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1c2036;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100%;
}

.app {
  color: #ffffff;
  height: 100%;
  font-size: 16px;
}

.menu {
  line-height: 28px;
}

select {
  background-color: #f0f0f0;
  color: #1c2036;
  border: 0;
  border-radius: 4px;
  padding: 12px;
  font-size: 16px;
  margin-left: 8px;
}

.app > div {
  margin: 24px;
  padding: 12px;
  border-radius: 8px;
  background-color: #b3b9da;
  color: #101010;
}

.post {
  padding-bottom: 18px;
  margin-bottom: 12px;
  border-bottom: 1px solid #1c2036;
}

.user {
  border-bottom: 1px solid #1c2036;
  padding: 12px 8px;
}

.userUsername {
  font-size: 24px;
}

.userEmail, .commentEmail {
  opacity: 0.6;
}

.title {
  margin: 8px 0;
  font-size: 20px;
}

.comments {
  padding: 0 12px;
}

.comment {
  margin-bottom: 16px;
}

.commentName {
  font-size: 18px;
}